// add rule overrides as needed.
{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "script",
    "ecmaFeatures": {
      "node": true
    }
  },
  "extends": "airbnb-base",
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "arrow-parens": ["error", "as-needed"],
    "object-curly-newline": ["error", {
      "ObjectPattern": "never"
    }],
    "no-console": ["off"]
  },
  "env": {
    "mocha" : true,
    "browser" : true, 
    "jquery": true 
  }
}