extends ../layout

block content
  .container.mt-5
    h1 Change password
    hr
    form#edit-password.ajax-form(method="POST", action="/account/update-password" data-toggle="validator")
      .row
        .col-sm-6
          .form-group
            label.control-label(for='password') New password
            input#password.form-control(name='password', type='password', placeholder='••••••••', autofocus='autofocus', required)
            .invalid-feedback Minimum of 6 characters
            // 
        .col-sm-6
          .form-group
            label(for='confirm-password') Confirm password
            input#confirm-password.form-control(name='confirm-password', type='password', placeholder='••••••••', requried)
            .invalid-feedback Whoops, these don't match
            // 
      .row
        .col-sm-6
          // 
        .col-sm-6
          .form-group.text-right
            a.btn.btn-outline-info.mr-2(href='/account') Cancel
            button#btn-password.btn.ajax-button.btn.btn-dark(type='submit')
              span.button-text Save changes
              // 
