extends layout

block content
  #404
    .container.text-center
      .display-1.mb-3 404
      br
      h2 The page you seek doesn't exist.
      .help
        p Think you're seeing this message in error?
          br
          span.mobile-spacer &nbsp;
          | Please
          a(href='mailto:support@druidapp.com')