extends layout
  
block content
  .container.mt-5
    .content
      h1.text-center Recover password
      .forgot-form
        p.text-center Enter your email address below to reset the password for your account.
        hr
        form#forgot-form
          .form-group
            input#email.form-control(type="email" name="email" placeholder="sturgeon@example.com" autocomplete="email" focus-first="")
            .invalid-feedback Please enter a valid email address.
          .form-group
            button#reset.btn.btn-dark.btn-lg.btn-block Send reset link
        p.text-center
          a(href="/login") Back to login
    script(type='text/javascript', src='/javascripts/forgot-password.js')