extends layout

block content
  .container.mt-5
    .content
      h1.text-center Reset password
      .new-password-form
        hr
        form#new-password
          .form-group
            label(for="password") New password
            input#password.form-control(name="password" type="password" placeholder="••••••••" autofocus="")
            .invalid-feedback(v-if="formErrors.password") Please enter a password.
          .form-group
            label(for="confirm-password") Confirm password
            input#confirm-password.form-control(name="confirm-password" type="password" placeholder="••••••••")
            .invalid-feedback Your new password and confirmation do not match.
          .form-group
            button#new.btn.btn-dark.btn-lg.btn-block Submit
        p.text-center
          | Remember your password? 
          a(href="/login") Login
  script(type='text/javascript', src='/javascripts/new-password.js')
